$color-primary: #011439;
$color-primary-dark: #00091B;
$color-primary-light: #051F51;

$color-silver: #494F5A;
$color-silver-light: #CFD3DA;

$color-grey: #f7f7f7;
$color-grey-dark: #333;

$color-white: #fff;
$color-black: #000000;


$color-mint: #5dc4bb;

//FONT
$default-font-size: 1.6rem;

//Media breakpoints

$bp-large: 96.875em;// = 1550px      87.5em; 1400px
$bp-med-large: 75em; // = 1200px
$bp-medium: 59.375em;// = 950px
$bp-small: 37.5em;// = 600px